<!DOCTYPE html>
<html lang="en" dir="auto">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DnD with Toph</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add custom CSS -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    
    <nav class="navbar" style="background-color: #4062BB;"> <!-- True Blue -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DnD with Toph</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('adventures')}}">Adventures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://outschool.com/groups/dnd-with-toph-dungeons-and-dragons-social-club-JrmkPxIE?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">Join the Club</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('about')}}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('contact')}}">Contact</a>
                </li>
                
                </ul>
            </div>
        </div>
    </nav>

{% block content %}{% endblock %}



    <footer>
        2023 DnD with Toph. All rights reserved.
    </footer>
                
    <!-- Add Bootstrap JavaScript and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
    <!-- Add custom JavaScript -->
    <script src="/static/scripts.js"></script>
                
</body>
</html>