{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1 class="my-4">{{ post.title }}</h1>
                <p class="lead">
                    by
                    <a href=" {{url_for('users.user_posts',username=username)}}">{{ post.author }}</a>
                </p>
                <hr>
                <p>Posted on {{ post.date_posted }}</p>
                <hr>

                <p>{{ post.text }}</p>

                {% if post.author == current_user %}
                    <a href="{{ url_for('blog_posts.update', blog_post_id=post.id) }}" class="btn btn-primary">Update</a>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#del_modal">Delete</button>
                {% endif %}
            </div>
        </div>


        <div class="modal" tabindex="-1" id="del_modal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Delete</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete the post?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <form action="{{ url_for('blog_posts.delete_post', blog_post_id=post.id) }}" method="POST">
                        <input class="btn btn-primary" type="submit" value="Delete Post">
                </div>
              </div>
            </div>
          </div>


{% endblock %}