
/* Main body styles*/

@font-face {
  font-family: 'BaseText';
  src: url('BaseText.ttf') format('opentype');
}

body {
    background-color: #1c272f;
    font-family: 'BaseText';
    letter-spacing: 2px;
    margin: 0 auto;
    color: #df921f;
}

/* Navbar styles */

.navbar {
    background-color: #1c272f;
    max-height: 60px;
    font-weight: bold;
    padding-top: 0px;
    padding-left: 25px;
}

.website-title {
  position: fixed;
  top: 5px;
  left: 140px;
  z-index: 1000;
}

.shield-logo {
  position: fixed;
  top: 0;
  left: 20px;
  z-index: 1000;
  height: auto;
  width: 100px;
}

.navbar-brand {
    color: #c2a488;
    font-size: 1.5em;
    font-weight: bold;
}

.collapse {
  justify-content: flex-end;
}

.navbar-brand:hover {
    color: #c2a488;
}

.navbar-button-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    padding-right: 10px;
}

.navbar-buttons {
    background-color: #c2a488; 
    color: #262628;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px ;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    transition: padding-left 0.3s ease, padding-right 0.3s ease;
}

.nav-links {
    color: #262628;
    font-size: 1.0em;
    padding: 10vw;
    font-family: 'BaseText' !important;
    font-size: 2.5em;
    text-decoration: none;
    padding: 8px 8px 0px 0px;
    font-size: 1rem;
    color: #333;
}

/* New navbar using Canvas */

.offcanvas {
  max-width: 200px;
}


/* Main page text */

.welcome-section {
    background-image: url("HomePageImage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: left;
    align-items: left;
    width: 100%;
    height: 100%
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0x;
    padding-left: 0%;
    padding-right: 0%;
    background-position-x: 0px;
    background-position-y: 0px;
}

.welcome-text {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #df921f;
    width: 50%;
    font-size: 5vw;

}

h2 {
  font-weight: bolder;
}

@font-face {
  font-family: 'SubText';
  src: url('SubText.ttf') format('opentype');
}

.welcome-subtext {
  font-family: 'SubText';
  color: #df921f;
  font-size: 2.5vw;
}

.btn {
  background-color: #1c272f !important;
  color: #df921f;
  border: #c09368;
  font-size: 2.85vw;
  font-weight: bolder;
  padding: 2% 5%;
}

.btn:hover {
  background-color: #c09368 !important;
  color: #262628;
  border: #c09368;
  font-weight: bolder;
}

.btn2 {
  background-color: #1c272f !important;
  color: #df921f;
  border: #c09368;
  font-size: 2.85vw;
  font-weight: bolder;
  padding: 2% 5%;
}

.btn2:hover {
  background-color: #c09368 !important;
  color: #262628;
  border: #c09368;
  font-weight: bolder;
}

.section-header {
  font-weight: bolder;
  text-align: center;
  font-size: 2.5em;
}

.divider {
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  text-align: center;
  width: 90%;
}

/* About Section */

.about-container {
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: 420px, 80px;
  background-position-x: 0px;
  background-position-y: 50px;
  flex-wrap: auto;
  justify-content: center;
  align-items: center;
}

/* Carnival Banner */

.bannercarnival{
  background-image: url("BannerCarnival.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: left;
  min-height: 30vw;
  width: 100%;
  height: 100%
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 0x;
  padding-left: 0%;
  padding-right: 0%;
  background-position-x: 0px;
  background-position-y: 0px;

}

/* Adventures Section */

.tier-heading {
  font-weight: bolder;
  justify-self: center;
  text-align: center;
  font-size: 2.5em;
}

.tier-text {
  justify-self: center;
}

.adventures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.tier1 {
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 60px;
  padding-right: 80px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 400px;
  background-image: url("ParchmentSheet.png");
  background-position: center;
  background-size: 120% ;
  background-repeat: no-repeat;
  color: #000000;
}

  .group {
    margin-left: 22px;
    max-width: 240px;
    align-content: center;
  }
  .tier2 {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 400px;
    background-image: url("ParchmentSheet2.png");
    background-position: center;
    background-size: 120% ;
    background-repeat: no-repeat;
    color: #000000;
  }

  .tier3 {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 60px;
    padding-right: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 400px;
    background-image: url("ParchmentSheet3.png");
    background-position: center;
    background-size: 120% ;
    background-repeat: no-repeat;
    color: #000000;
  }
  
  .adventures-container img {
    width: 100%;
    max-width: 293px;
    height: auto;
  }

  .adventures-container p {
    font-size: 0.8em;
    max-font-size: 0.8em;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .adventures-container i {
    font-style: italic,strong;
    font-size: 1.2em;
  }
  
  .adventures-container a {
    color: #000000;
    text-decoration: none;
  }

  .adventure-image {
    width: 293px;
    height: 186px;
  }

  /* Club Section */

  .club-container {
    background-image: url("BannerClub.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 0x;
    padding-left: 50%;
    padding-right: 0%;
  }

.club-container a {
  font-size: 2.0em;
  color: #FFFFFF;
  text-decoration: none;
}

.club-text {
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 10%;
  margin-bottom: 10%;
  color: #df921f;
  font-size: 2vw;
}

.club-subtext {
  font-family: 'SubText';
}
  /* Footer */
  

  footer {
    background-color: #262628;
    color: #c2a488;
    min-height: 40px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    justify-content: stretch;
    max-width: 100% !important;
  
}