body {
    font-family: Arial, sans-serif;
    text-align: center;
    /* Old background image background-image: url('/static/ricepaper.png'); */
    background-color: #212121;
    background-attachment: fixed;
    color: #d1d1d1; /* Dark gray color for the text */
  }
  
h1{
    font-size: 2.5em;
    padding: 5px 5px 5px 5px ;
}
  
.main-text {
  background-color: #212121;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.list-info {
  font-size: 0.8em;
}

.tier1 {
  /* Old green color  option for the tier 1 adventures color: #257528;*/
  color: #ee7c0a; /* Orange color for the tier 1 adventures */
}

.tier2 {
  /* Old blue color option for the tier 2 adventures color: #0078db;*/
  color: #D9D3D3;
}

.tier3 {
  /* Old purple color option for the tier 3 adventures: #880b9e;*/
  color: #FAD505;
}
/* Adventures */

  .adventures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .adventure {
    margin: 20px;
    width: 300px;
    border: 2px solid #383838; /* Lighter gray color for the adventure border */
    border-radius: 10px;
    background-color: #383838;
    color: #F0F0F0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .adventure img {
    width: 100%;
    max-width: 293px;
    height: auto;
  }
  
  .adventure h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #CFCFCF; /* Lighter gray color for the adventure titles */
  }
  
  .adventure p {
    font-size: 0.8em;
    max-font-size: 0.8em;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .adventure a {
    text-decoration: none;
    color: #a1a1a1; /* Lighter gray color for the links */
  }
  
  .adventure i {
    font-style: italic;
    font-size: 1.2em;
    font-style: strong;
  }
  
  .adventure:hover {
    border-color: #E8E8E8; /* Slightly darker gray for the hover effect */
    transition: border-color 0.4s ease-in-out;
  }
  
  @media only screen and (max-width: 768px) {
    .adventure p {
      font-size: 0.8em;
    }
  }
  
  /* Navbar */
  .navbar {
    background-color: #383838 !important;
    color: #F0F0F0 !important;
    padding: 5px 5px; /* Adjust the padding to change the navbar height */
  }
  .navbar-brand {
    font-size: 1.5em;
  }
  
  .navbar a {
    text-decoration: none;
    margin-right: 10px;
  }
  
  .navbar a:hover {
    color: #F0F0F0 !important;
    transition: color 0.3s ease-in-out;
  }

  

  /* Footer */
footer {
    color: #F0F0F0;
    padding: 10px;
    text-align: center;
  }