<html>
<head>
    <title>My Site</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">My Site</a>
            </div>
            <ul class="navbar-nav">
                <li><a href="{{url_for('index')}}" class="nav-link">Home</a></li>
                <li><a href="{{url_for('add_pup')}}" class="nav-link">Add a Puppy</a></li>
                <li><a href="{{url_for('list_pup')}}" class="nav-link">List of Puppies</a></li>
                <li><a href="{{url_for('del_pup')}}" class="nav-link">Delete a Puppy</a></li>
                <li><a href="{{url_for('add_owner')}}" class="nav-link">Add an Owner</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</html>