{# ADVENTURES HTML #}
{% extends "base.html" %}

{% block content %}

    <div class="main-text"><h1>Our Adventures!</h1>
        <p>Our online campaigns are perfect for players of all experience levels and offer an enjoyable and educational experience for the whole family.</p>
        
        <h2>Three Tiers</h2>
                <div class="tier1box"><b>Bronze Adventurers</b>
                    <p class="">Perfect for beginner players who are just starting their Dungeons & Dragons journey, these adventures focus on the basics of gameplay, character development, and simple combat encounters.</p>
                </div>
                <br>
                <div class="tier2box"><b>Silver Champions</b>
                    <p class="">Geared towards intermediate players, these adventures feature more complex storylines, diverse combat scenarios, and opportunities for players to flex their tactical and roleplaying muscles.</p>
                </div>
                <br>
                <div class="tier3box"><b>Gold Heroes</b>
                    <p class="">Reserved for the most seasoned and dedicated players, these adventures push the limits of D&D gameplay with epic storylines, world-shattering events, and encounters that will test the mettle of the bravest and most cunning adventurers.</p>
                </div>
        <br>
        <p>Take a look at our on-going adventures below to find out more!</p>
    </body>
    </div>

        <div class="adventures-container">
        <div class="tier1">
            <a href="https://outschool.com/classes/dungeons-and-dragons-red-wizards-of-thay-or-as-seen-in-the-new-dandd-movie-nxFS5Fv8?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Red Wizards of Thay</h2>
                <img src="static/rwot.jpg" alt="Red Wizards of Thay">
            <p><i>As seen in Dungeons & Dragons: Honor Amongst Thieves!</i><br>Infiltrate the ranks of the Red Wizards, uncover their dark secrets, and stop their schemes in this magical adventure of intrigue.</p>
            </a>
        </div>
        <div class="tier1">
            <a href="https://outschool.com/classes/dungeons-and-dragons-lost-mine-of-phandelver-beginner-starter-adventure-i3wfid6L?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Lost Mine of Phandelver</h2>
                <img src="static/lmop.jpg" alt="Lost Mine of Phandelver">
            <p><i>Unearth the Secrets of the Forgotten Mine!</i><br>Embark on a perilous journey to uncover the location of the legendary Lost Mine of Phandelver, battle fearsome foes, and unlock hidden treas.
        </div>
        <div class="tier2">
            <a href="https://outschool.com/classes/dungeons-and-dragons-waterdeep-dragon-heist-beginner-fantasy-campaign-KDkVZ3l2?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Waterdeep: Dragon Heist</h2>
                <img src="static/wdh.jpg" alt="Waterdeep: Dragon Heist">
            <p><i>Uncover Treasure in the City of Splendors!</i><br>Dive into the treacherous politics and factions of Waterdeep to discover the secret of the Dragon Heist and claim your fortune.</p>
        </a>
        </div>
        <div class="tier2">
            <a href="https://outschool.com/classes/dungeons-and-dragons-the-wild-beyond-a-magical-campaign-for-beginners-Dj7Mm6Qx?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Wild Beyond the Witchlight</h2>
                <img src="static/wbtw.jpg" alt="Wild Beyond the Witchlight">
            <p><i>Enter the Enchanted Carnival and Discover a Hidden World!</i><br>Step into the magical realm of the Feywild, navigate through the mysterious Witchlight Carnival, and unravel the secrets of a lost domain in this whimsical and enchanting adventure.</p>
        </a>
        </div>
        <div class="tier3">
            <a href="https://outschool.com/classes/dungeons-and-dragons-ghosts-of-saltmarsh-beginner-pirate-sea-adventure-srGx42LE?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Ghosts of Saltmarsh</h2>
                <img src="static/gos.jpg" alt="Ghosts of Saltmarsh">
            <p><i>Find the Mysteries of the Haunted Coast!</i><br>Brave the shores of Saltmarsh, confront terrifying monsters, and navigate coastal politics in this chilling, nautical adventure.</p>
        </a>
        </div>
        <div class="tier3">
            <a href="https://outschool.com/classes/dungeons-and-dragons-tomb-of-annihilation-or-jungle-dinosaur-adventure-10cP1Aiq?usid=z05zHVoS&signup=true&utm_campaign=share_activity_link" target="_blank">
                <h2>Tomb of Annihilation</h2>
                <img src="static/toa.jpg" alt="Tomb of Annihilation">
            
            <p><i>Discover the Deadly Secrets of the Lost City!</i><br>Explore the treacherous jungles of Chult, overcome lethal traps, and solve the mystery of the Soulmonger in this thrilling adventure.</p>
        </a>
        </div>
</div>

{% endblock %}